.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
}
.menu {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
main {
  height: 100vh;
  margin-top: 40px;
  display: flex;
}

.sidenav {
  left: 0;
  height: 100%;
  width: 20%;
  position: fixed;
  overflow-x: hidden;
}
.board {
  width: 80%;
  margin-left: 20%;
}
.container-drag {
  display: flex;
  margin: 15px;
  height: 100%;
}
.list {
  padding-right: 15px;
}
.board-header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.draggable {
  width: 275px;
  height: 70px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}
